<div class="my-2 my-sm-3 my-md-4 my-lg-5 mx-2 mx-sm-3 mx-md-4 mx-lg-5" *ngIf="configs">
  <mat-card-title class="main-title">Parámetros del Sistema</mat-card-title>
  <mat-card class="mt-4">
    <div *ngFor="let config of configs; let i = index" class="row option">
      <mat-list class="col-sm-8">
        <mat-list-item role="listitem">
          <mat-icon mat-list-icon class="icon">{{config.option.icon}}</mat-icon>
          <div mat-line class="title">{{config.option.name}}</div>
          <div mat-line class="subtitle"> {{config.option.description }} </div>
        </mat-list-item>
        <mat-divider *ngIf="i != configs!.length - 1"></mat-divider>
      </mat-list>
      <mat-dynamic-form [structure]="config.structure" class="col-sm-4"></mat-dynamic-form>
    </div>
    <div>
      <mat-divider></mat-divider>
      <div class="d-flex mt-1 pt-3">
        <div class="ms-auto">
          <button mat-button type="button" color="warn" class="btn-container me-2" (click)="initOptions()">
            <mat-icon>clear</mat-icon>
            Cancelar
          </button>
          <button mat-button type="button" color="primary" class="btn-container" (click)="save()" >
            <mat-icon>save</mat-icon>
            Guardar
          </button>
        </div>
      </div>
    </div>
  </mat-card>
</div>