.right{
    float: right;
}

.center{
    
    display: flex;
    justify-content: center;
}

.centerhijo{
    padding: 10px;
  margin: 10px;
}

.pequeño{
    font-size: 12px;
}

.centrar{
    text-align: center;
}

.input{
width: 70px;
}

.resumen{
    margin-right: 80px;
}

.header-table{
    text-align: center;
  }