mat-panel-title {
  font-weight: bold;
  color: #707070;
}

.mat-accordion {
  .mat-expansion-panel {
    box-shadow: none;
    margin-bottom: 0 !important;

    &:nth-child(1) {
      border-top-left-radius: 14px;
      border-top-right-radius: 14px;
    }
  }

  ::ng-deep .mat-expansion-panel-body {
    padding: 0 24px 0px !important;
  }
}
