/* .main-title {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-32)/var(--unnamed-line-spacing-43) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-19324b);
    text-align: left;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #19324B;
    text-transform: uppercase;
    opacity: 1;
  } */
  
  .title {
      text-align: center;
      display: flex !important;
      height: 48px;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      border-radius: 4px;
      background: #1369a0;
      color: white;
    }
  
    .example-form {
      min-width: auto;
      max-width: auto;
    }
    
    .example-full-width {
      width: 100%;
    }

    .centrar{
      text-align: center;
      justify-content: center;
      align-content: center;
    }

    .header-table {
      background-color: #1369a0;
      color: white;
      text-align: center;
      font-size: 14px;
      border-radius: 0px;
      border: none;
    }

    .btn-add {
      margin: 20px 20px 16px 16px;
    }

    mat-sort-header {
      justify-content: center;
    }