mat-panel-title {
  font-weight: bold;
  color: #707070;
}

.mat-accordion {
  .mat-expansion-panel {
    box-shadow: none;
    margin-bottom: 0 !important;

    &:nth-child(1) {
      border-top-left-radius: 14px;
      border-top-right-radius: 14px;
    }
  }

  ::ng-deep .mat-expansion-panel-body {
    padding: 0 24px 0px !important;
  }
}

.result-count {
  font-size: 14px;
  font-weight: bold;
  color: #707070;

  .count {
    background: #14649B;
    color: white;
    padding: 4px 5px 4.5px 5px;
    border-color: transparent;
    margin-left: 4px;
    border-radius: 6px;
  }
}
