<div class="my-2 my-sm-3 my-md-4 my-lg-5 mx-2 mx-sm-3 mx-md-4 mx-lg-5">

        <mat-card>
            <!-- Tabla 2 resumen de automovil -->
            <div class="table-responsive">
                <table mat-table [dataSource]="bandejacasos" matSort>
                    <!-- Position Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Identificador de caso</th>
                        <td mat-cell class="centrar pequeño" *matCellDef="let element"> {{element.idCaso}} </td>
                    </ng-container>

                    <!-- Position Column -->
                    <ng-container matColumnDef="nit">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>NIT</th>
                        <td mat-cell class="centrar pequeño" *matCellDef="let element"> {{element.nitContribuyente}} </td>
                    </ng-container>

                     <!-- Position Column -->
                     <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre del Contribuyente</th>
                        <td mat-cell class="centrar pequeño" *matCellDef="let element"> {{element.nombreContribuyente}} </td>
                    </ng-container>

                    <ng-container matColumnDef="monto">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Monto Recaudado</th>
                        <td mat-cell class="centrar pequeño" *matCellDef="let element"> {{element.montoRecaudado}} </td>
                    </ng-container>

                    <!-- Position Column -->
                    <ng-container matColumnDef="estado">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
                        <td mat-cell class="centrar pequeño" *matCellDef="let element"> {{element.nombreEstado}} </td>
                    </ng-container>

                    <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef class="header-table"></th>
                        <td mat-cell class="centrar" *matCellDef="let element">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Acciones">
                                <mat-icon>more_horiz</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item type="button" title="Reasignar" color="primary" >
                                    <mat-icon class="iconos">check</mat-icon>
                                    <span>Aprobar Rechazo</span>
                                </button>
                                <button mat-menu-item type="button" title="Reasignar" color="primary" >
                                    <mat-icon class="iconos">clear</mat-icon>
                                    <span>Rechazar</span>
                                </button>
                            </mat-menu>
                        </td>

                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                </table>

                <div>
                    <mat-paginator #MatPaginator1="matPaginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                        aria-label="Select page of periodic elements">
                    </mat-paginator>
                </div>
            </div>
        </mat-card>
</div>