.color {
  box-shadow: none;
  /*     background-color: #1268a0;
    color: #fff; */
}
.witdh{
  width: 300px;
}
.colorTwo {
  box-shadow: none;
  background-color: #1268a0;
  color: #fff;
}

.centrar {
  position: relative;
}

.justo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
}

.size {
  height: 250px;
}

.right {
  float: right;
}
.margin{
    margin-left: 100px;
}
.contenedor-flexbox {
    display: flex; /*Convertimos al menú en flexbox*/
    justify-content: space-between; /*Con esto le indicamos que margine todos los items que se encuentra adentro hacia la derecha e izquierda*/
    align-items: center; /*con esto alineamos de manera vertical*/
}
.center {
  text-align: center;
  justify-content: center;
}
.centerButton{
  display: flex;
  justify-content: center;
  align-items: center;
}