.centrar{
    text-align: center;
    justify-content: center;
    align-content: center;
  }

.input{
    width: 70px;
    text-align: center;
    }

.totalAudit{
      margin-right: 80px;
  }

  .main-Subtitle {
    font-size: 0.9rem;
    text-align: center;
    letter-spacing: 0px;
    color: #19324B;
    text-transform: uppercase;
    opacity: 1;
    font-weight: bolder;
    justify-content: center;
    align-content: center;
  }

  .refused{
    td {
      color: #04053b;
      background-color: #edf3f8;
      font-weight: bold;
    }
  }

.alinear{
  text-align: center;
  background-color: #ffffff;
  font-weight: bolder;
}

.alinear2{
  text-align: center;
  text-transform: uppercase;
}

.alinear3{
  text-align: center;
  text-transform: uppercase;
  color: #04053b;
  font-weight: bold;
  background-color: #edf3f8;
}

.tituloColumna{
  color: #ffffff;
  background-color: #1369a0;
  font-size: 0.9rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  opacity: 1;
  font-weight: bolder;
  text-align: right;
  padding-right: 15px !important;
 }

 table {
  border-spacing: 0 0px !important;
}

