.main-title {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-32)/var(--unnamed-line-spacing-43) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-19324b);
    text-align: left;
    font: normal normal bold 32px/43px Roboto;
    letter-spacing: 0px;
    color: #19324B;
    text-transform: uppercase;
    opacity: 1;
  }
  .header-table{
    text-align: center;
  }
  .ColumnSectionOne {
    display: inline-block;
    padding: 3px;
  }
  .RowOne{
    text-align: center;
  }
  .example-full-width{
    width: 350px;
  }
.margenMenu{
  display: flex;
      align-items: center;
    justify-content: center;
}
.filtro{
  float: left;
}
.seccionBtns{
  float: right;
}
.center {
  text-align: center;
  justify-content: center;
}
.centerButton{
  display: flex;
  justify-content: center;
  align-items: center;
}