<div class="my-2 my-sm-3 my-md-4 my-lg-5 mx-2 mx-sm-3 mx-md-4 mx-lg-5">
  <mat-card-title class="mt-2 main-title">Plan Anual de Fiscalización</mat-card-title>
  <button mat-button class="btn-container mt-3" (click)="createYearlyPlan()" color="primary">
    <mat-icon>add</mat-icon>
    Crear Plan
  </button>
  <mat-card class="mt-4">
    <div class="flex-row mb-2">
      <mat-form-field appearance="standard" class="col-12 col-sm-12 col-md-12 col-lg-4 me-0 me-sm-0 me-md-2 me-lg-3">
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="searchFilter($event)">
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="#">
          <th mat-header-cell *matHeaderCellDef class="header-table" mat-sort-header>No.</th>
          <td mat-cell *matCellDef="let item">
            {{item.name}}
          </td>
        </ng-container>
        <ng-container matColumnDef="plan">
          <th mat-header-cell *matHeaderCellDef class="header-table" mat-sort-header>
            No. Plan
          </th>
          <td mat-cell *matCellDef="let item"> {{item.plan}} </td>
        </ng-container>

        <ng-container matColumnDef="year">
          <th mat-header-cell *matHeaderCellDef class="header-table" mat-sort-header>
            Año
          </th>
          <td mat-cell *matCellDef="let item"> {{item.year}} </td>
        </ng-container>
        <ng-container matColumnDef="indicators">
          <th mat-header-cell *matHeaderCellDef class="header-table" mat-sort-header>
            Indicadores
          </th>
          <td mat-cell *matCellDef="let item" [title]="parseIndicators(item.indicators)">
            {{parseIndicators(item.indicators)}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="header-table"></th>
          <td mat-cell *matCellDef="let item">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Acciones">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item title="Cambiar Nombre" class="iconos" (click)="updateYearlyPlan(item.plan)">
                <mat-icon class="iconos">edit</mat-icon>
                <span>Editar plan</span>
              </button>
              <button mat-menu-item title="Eliminar" class="iconos" (click)="deleteYearlyPlan(item.plan)">
                <mat-icon class="iconos">delete</mat-icon>
                <span>Eliminar plan</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row class="sobra-tabla" *matRowDef="let row; columns: columns;"></tr>
      </table>
      <h3 *ngIf="dataSource.data.length == 0 || dataSource.filteredData.length == 0" class="text-center m-3">{{noDataMsg}}</h3>
      
      <mat-paginator [pageSizeOptions]="[5,10,15]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card>
</div>
