<div *ngIf="mostrarTablaPadre"><br>
  <div class="row align-items-center justify-content-center">
    <div class="col-sm-6">
      <mat-card-title class="main-Subtitle">Resumen General</mat-card-title>
      <ng-container>
        <table mat-table [dataSource]="paymentAgreementSummary">
          <!-- Name Column -->
          <ng-container matColumnDef="registro">
            <th mat-header-cell *matHeaderCellDef>Total de Registros</th>
            <td mat-cell *matCellDef="let element"> <b>{{element.registros}}</b> </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="montoAutorizado">
            <th mat-header-cell *matHeaderCellDef>Total Autorizado</th>
            <td mat-cell *matCellDef="let element"> <b>{{element.totalAutorizado}}</b> </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="montoCuotas">
            <th mat-header-cell *matHeaderCellDef>Monto Cuotas Pagadas</th>
            <td mat-cell *matCellDef="let element"> <b>{{element.totalMontoPagado}}</b> </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="saldoTotal">
            <th mat-header-cell *matHeaderCellDef>Saldo Total a la fecha</th>
            <td mat-cell *matCellDef="let element"> <b>{{element.totalSaldo}}</b> </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsSummary"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsSummary;"></tr>
        </table>
      </ng-container>
    </div>
  </div><br>
  <ng-container>
    <div class="table-responsive">
      <table mat-table [dataSource]="paymentAgreementSource">
        <!-- Name Column -->
        <ng-container matColumnDef="formulario">
          <th mat-header-cell *matHeaderCellDef>No. Formulario</th>
          <td mat-cell *matCellDef="let element"> {{element.numeroFormulario}} </td>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="expediente">
          <th mat-header-cell *matHeaderCellDef>No. Expediente</th>
          <td mat-cell *matCellDef="let element"> {{element.numeroExpediente}} </td>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let element"> {{element.estadoConvenio}} </td>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef>Fecha Presentacion</th>
          <td mat-cell *matCellDef="let element"> {{element.fechaPresentacion}} </td>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef>Total Autorizado</th>
          <td mat-cell *matCellDef="let element"> {{element.totalAutorizado}} </td>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="plazo">
          <th mat-header-cell *matHeaderCellDef>Plazo Otorgado</th>
          <td mat-cell *matCellDef="let element"> {{element.plazoOtorgado}} </td>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="cuotas">
          <th mat-header-cell *matHeaderCellDef>Cuotas Pagadas</th>
          <td mat-cell *matCellDef="let element"> {{element.cuotasPagadas}} </td>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="monto">
          <th mat-header-cell *matHeaderCellDef>Monto Pagado</th>
          <td mat-cell *matCellDef="let element"> {{element.montoPagado}} </td>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="saldo">
          <th mat-header-cell *matHeaderCellDef>Saldo</th>
          <td mat-cell *matCellDef="let element"> <b>{{element.saldo}}</b> </td>
        </ng-container>
        <ng-container matColumnDef="accion">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Acciones">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu" class="menuTamaño">
              <div class="btns">
                <button mat-menu-item title="Ver detalle" class="iconos" (click)="getPaymentAgreementDetail(element.numeroFormulario, 
                                                          element.numeroExpediente,
                                                          element.totalAutorizado,
                                                          element.plazoOtorgado,
                                                          element.cuotasPagadas,
                                                          element.montoPagado,
                                                          element.saldo)">
                  <mat-icon class="iconos">list_alt</mat-icon>
                  <span>Ver detalle</span>
                </button>
              </div>
            </mat-menu>
            {{element.symbol}}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator #MatPaginator1="matPaginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
        aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </ng-container>
</div>
<div *ngIf="mostrarTablaHijo">
  <button mat-button type="button" color="primary" class="btn-container me-2 mt-3" (click)="returnMaster()">
    <mat-icon>arrow_back</mat-icon>
    Regresar
  </button>
  <br><br>
  <mat-card-title class="main-card">Estado del Expediente {{DOC}}</mat-card-title><br>
  <div class="row align-items-center justify-content-center">
    <div class="col-sm-6">
      <mat-card-title class="main-Subtitle">Resumen del Detalle</mat-card-title>
      <ng-container>
        <table mat-table [dataSource]="paymentAgreementDetailSummary">
          <!-- Name Column -->
          <ng-container matColumnDef="totalAutorizadoDetalle">
            <th mat-header-cell *matHeaderCellDef>Total Autorizado</th>
            <td mat-cell *matCellDef="let element"> <b>{{element.totalAutorizadoDetalleI}}</b> </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="cuotasAutorizadasDetalle">
            <th mat-header-cell *matHeaderCellDef>Cuotas Autorizads</th>
            <td mat-cell *matCellDef="let element"> <b>{{element.cuotasAutorizadasDetalleI}}</b> </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="cuotasCanceladasDetalle">
            <th mat-header-cell *matHeaderCellDef>Cuotas Canceladas</th>
            <td mat-cell *matCellDef="let element"> <b>{{element.cuotasCanceladasDetalleI}}</b> </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="montoCuotasPagadas">
            <th mat-header-cell *matHeaderCellDef>Monto Cuotas Pagadas</th>
            <td mat-cell *matCellDef="let element"> <b>{{element.montoCuotasPagadasDetalleI}}</b> </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="saldoTotal">
            <th mat-header-cell *matHeaderCellDef>Saldo Total a la Fecha</th>
            <td mat-cell *matCellDef="let element"> <b>{{element.saldoTotalDetalleI}}</b> </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsDetailSummary"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsDetailSummary;"></tr>
        </table>
      </ng-container>
    </div>
  </div><br>
  <ng-container>
    <div class="table-responsive">
      <table mat-table [dataSource]="detailDataSource">
        <ng-container matColumnDef="cuota">
          <th mat-header-cell *matHeaderCellDef> Cuota </th>
          <td mat-cell *matCellDef="let element"> {{element.cuota}} </td>
        </ng-container>
        <ng-container matColumnDef="numeroFormulario">
          <th mat-header-cell *matHeaderCellDef> No. Formulario </th>
          <td mat-cell *matCellDef="let element"> {{element.numeroFormulario}} </td>
        </ng-container>
        <ng-container matColumnDef="fechaRecaudo">
          <th mat-header-cell *matHeaderCellDef> Fecha Recaudo </th>
          <td mat-cell *matCellDef="let element"> {{element.fechaRecaudo}} </td>
        </ng-container>
        <ng-container matColumnDef="impuesto">
          <th mat-header-cell *matHeaderCellDef> Impuesto </th>
          <td mat-cell *matCellDef="let element"> {{element.impuesto}} </td>
        </ng-container>
        <ng-container matColumnDef="interes">
          <th mat-header-cell *matHeaderCellDef> Interes </th>
          <td mat-cell *matCellDef="let element"> {{element.interes}} </td>
        </ng-container>
        <ng-container matColumnDef="multaOmision">
          <th mat-header-cell *matHeaderCellDef> Multa Omision </th>
          <td mat-cell *matCellDef="let element"> {{element.multaOmision}} </td>
        </ng-container>
        <ng-container matColumnDef="multaFormal">
          <th mat-header-cell *matHeaderCellDef> Multa Formal </th>
          <td mat-cell *matCellDef="let element"> {{element.multaFormal}} </td>
        </ng-container>
        <ng-container matColumnDef="multaRectificativa">
          <th mat-header-cell *matHeaderCellDef> Multa Rectificativa </th>
          <td mat-cell *matCellDef="let element"> {{element.multaRectificativa}} </td>
        </ng-container>
        <ng-container matColumnDef="cuotaPagar">
          <th mat-header-cell *matHeaderCellDef> Cuota a Pagar </th>
          <td mat-cell *matCellDef="let element"> {{element.cuotaPagar}} </td>
        </ng-container>
        <ng-container matColumnDef="saldoPagar">
          <th mat-header-cell *matHeaderCellDef> Saldo a Pagar </th>
          <td mat-cell *matCellDef="let element"> {{element.saldoPagar}} </td>
        </ng-container>
        <ng-container matColumnDef="recargoInteres">
          <th mat-header-cell *matHeaderCellDef> Intereses por cuota atrasada </th>
          <td mat-cell *matCellDef="let element"> {{element.recargoInteres}} </td>
        </ng-container>
        <ng-container matColumnDef="recargoMora">
          <th mat-header-cell *matHeaderCellDef> Recargos por Mora </th>
          <td mat-cell *matCellDef="let element"> {{element.recargoMora}} </td>
        </ng-container>
        <ng-container matColumnDef="totalRecargo">
          <th mat-header-cell *matHeaderCellDef> Total Recargos sobre cuota </th>
          <td mat-cell *matCellDef="let element"> {{element.totalRecargo}} </td>
        </ng-container>
        <ng-container matColumnDef="totalPagado">
          <th mat-header-cell *matHeaderCellDef> Total Pagado </th>
          <td mat-cell *matCellDef="let element"> <b>{{element.totalPagado}}</b> </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsSon"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsSon;"></tr>
      </table>
      <mat-paginator #MatPaginator2="matPaginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
        aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </ng-container>
</div>